[DETOUR-BASE]
type = drive
scope = drive
service_account_file = {{ rclone_etc_dir }}/drive-sync-on-ovh-server-50a335a0b68b.json
impersonate = automation@epicerieledetour.org

[DETOUR_COMITES]
type = alias
remote = DETOUR-BASE,team_drive=0AIbKzNjsqMGbUk9PVA,root_folder_id=:

[DETOUR_OUTILS]
type = alias
remote = DETOUR-BASE,team_drive=0APLBOQvuKXQSUk9PVA,root_folder_id=:

[DETOUR_PRIVE]
type = alias
remote = DETOUR-BASE,team_drive=0AOpT9lroN3tEUk9PVA,root_folder_id=:

[DETOUR_PROXY_BEST]
type = alias
remote = DETOUR-BASE,team_drive=0ABjNTA0P2IuGUk9PVA,root_folder_id=:

[DETOUR_PUBLIC]
type = alias
remote = DETOUR-BASE,team_drive=0AIRTPc0aV9ZUUk9PVA,root_folder_id=:

[DETOUR_RH]
type = alias
remote = DETOUR-BASE,team_drive=0AJNAgHH-NjYbUk9PVA,root_folder_id=:

[B7-BASE]
type = drive
scope = drive
service_account_file = {{ rclone_etc_dir }}/batiment7-714ee10f03d6.json
impersonate = informatique.admin@batiment7.org

[B7-NEXTCLOUD]
type = webdav
url = https://cloud.batiment7.org/remote.php/dav/files/charles.fleche/
vendor = nextcloud
user = charles.fleche@batiment7.org
pass = {{ rclone_b7_nextcloud_pass }}

[B7-COMPTA]
type = alias
remote = B7-BASE,team_drive=0AE0bJfYJFByrUk9PVA,root_folder_id=:

[B7-CONFLITS]
type = alias
remote = B7-BASE,team_drive=0ACrgC8CKQ1_rUk9PVA,root_folder_id=:

[B7-MEMBRES]
type = alias
remote = B7-BASE,team_drive=0AEvnQypw8DRbUk9PVA,root_folder_id=:

[B7-RH]
type = alias
remote = B7-BASE,team_drive=0ACXHbpD0U7rYUk9PVA,root_folder_id=:

[AllDrives]
type = combine
upstreams = "B7-NEXTCLOUD=B7-NEXTCLOUD:" "B7-COMPTA=B7-COMPTA:" "B7-CONFLITS=B7-CONFLITS:" "B7-MEMBRES=B7-MEMBRES:" "B7-RH=B7-RH:" "DETOUR_COMITES=DETOUR_COMITES:" "DETOUR_OUTILS=DETOUR_OUTILS:" "DETOUR_PRIVE=DETOUR_PRIVE:" "DETOUR_PROXY_BEST=DETOUR_PROXY_BEST:" "DETOUR_PUBLIC=DETOUR_PUBLIC:" "DETOUR_RH=DETOUR_RH:"
