[B7-NEXTCLOUD]
type = webdav
url = https://cloud.batiment7.org/remote.php/dav/files/charles.fleche/
vendor = nextcloud
user = charles.fleche@batiment7.org
pass = {{ rclone_b7_nextcloud_pass }}

{% for drive in google_drives %}
[{{ drive.name }}]
type = drive
scope = drive
service_account_file = /usr/local/etc/rclone/drive-sync-on-ovh-server-50a335a0b68b.json
impersonate = {{ drive.impersonate }}

{% if "team_drive" in drive %}
team_drive = {{ drive.team_drive }}
{% endif %}

{% endfor %}
