[Unit]
Description=Update the members.json file of ledetour-membres

[Service]
Type=oneshot
ExecStart=/root/ledetour-membres/scripts/get-members-json.sh /srv/www/ledetour-membres/members.json
