LDT_MEMBRES_GOOGLE_SCRIPT_URL="{{ ldtmembres_google_webapp_url }}"
LDT_MEMBRES_ANONYMIZED_PATH="{{ membres_var_dir }}/members-anonymized.json"
LDT_MEMBRES_NON_ANONYMIZED_PATH="{{ membres_var_dir }}/members-non-anonymized.json"