server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  include snippets/{{ membres_ssl_snippet_conf }};

  server_name {{ membres_server_fqdn }};

  root /var/www/ledetour-membres/src;
  index index.html;

  include snippets/{{ membres_ssl_clients_snippet_conf }};

  location / {
    try_files $uri $uri/ =404;
  }
}
