[Unit]
Description="Call the Google Drive rclone sync %I every 24H"

[Timer]
# 1:00 / 2:00 Montreal time
OnCalendar=*-*-* 6:00:00
Unit=rclone-drive@%i.service

[Install]
WantedBy=multi-user.target
