[Unit]
Description="Synchronise a Google Drive rclone remote %I"

[Service]
Type=oneshot
ExecStart=rclone                                      \
  --verbose                                           \
  --config "/usr/local/etc/rclone/rclone.conf"        \
  sync                                                \
  %i:                                                 \
  /srv/rclone/%i
