[Unit]
Description="Run backup to repo %I"

[Timer]
# 3:00 / 4:00 Montreal time
OnCalendar=*-*-* 8:00:00
Unit=backup@%i.service

[Install]
WantedBy=multi-user.target
