- name: Install vouchers.epicerieledetour.org dependencies
  apt:
    pkg:
      - git
      - libcairo2
      - python3.11
      - python3-virtualenv
      - sqlite3
  tags:
    - vouchers

# Stop webapp during upgrade

- name: Stop vouchers.epicerieledetour.org systemd service
  systemd:
    name: ldt-vouchers.service
    state: stopped
  tags:
    - vouchers

# Install webapp code

- name: Make vouchers.epicerieledetour.org installation folder
  ansible.builtin.file:
    path: /srv/www/vouchers.epicerieledetour.org
    state: directory
    mode: "0755"
    owner: "www-data"
    group: "www-data"
  tags:
    - vouchers

- name: Pip install vouchers.epicerieledetour.org
  ansible.builtin.pip:
    name: git+https://github.com/epicerieledetour/ledetour-vouchers.git@v2
    virtualenv: /srv/www/vouchers.epicerieledetour.org/venv
    state: latest
  tags:
    - vouchers

# Copy systemd services and timers

# Backup

- name: Copying vouchers.epicerieledetour.org backup service file
  copy:
    src: ldt-vouchers-backup.service
    dest: /etc/systemd/system/
  notify:
    - systemd changed
  tags:
    - vouchers

- name: Copying vouchers.epicerieledetour.org backup timer file
  copy:
    src: ldt-vouchers-backup.timer
    dest: /etc/systemd/system/
  notify:
    - systemd changed
  tags:
    - vouchers

- name: Enable vouchers.epicerieledetour.org backup timer
  systemd:
    name: ldt-vouchers-backup.timer
    state: started
    enabled: yes
  tags:
    - vouchers

# Report

- name: Create emission files directory
  ansible.builtin.file:
    path: "/srv/www/vouchers.epicerieledetour.org/files/emissions/{{ hack_vouchers_tmp_emission_token }}"
    state: directory
    mode: '0755'
    owner: www-data
    group: www-data
  tags:
    - vouchers

- name: Instanciate vouchers.epicerieledetour.org ldt-vouchers-report.service
  template:
    src: ldt-vouchers-report.service.j2
    dest: /etc/systemd/system/ldt-vouchers-report.service
    mode: u=r,g=r,o=
  notify:
    - nginx changed
  tags:
    - vouchers

- name: Copying vouchers.epicerieledetour.org report timer file
  copy:
    src: ldt-vouchers-report.timer
    dest: /etc/systemd/system/
  notify:
    - systemd changed
  tags:
    - vouchers

- name: Enable vouchers.epicerieledetour.org report timer
  systemd:
    name: ldt-vouchers-report.timer
    state: started
    enabled: yes
  tags:
    - vouchers

# Server

- name: Copying vouchers.epicerieledetour.org systemd service file
  copy:
    src: ldt-vouchers.service
    dest: /etc/systemd/system/
  notify:
    - systemd changed
  tags:
    - vouchers

- name: Enable vouchers.epicerieledetour.org systemd service
  systemd:
    name: ldt-vouchers.service
    state: started
    enabled: yes
  tags:
    - vouchers

# Firewall ufw

- name: Open ufw port tcp 8000 on interface wg-ledetour
  community.general.ufw:
    rule: allow
    direction: in
    port: "8000"
    interface: "wg-ledetour"
  tags:
    - vouchers