[Unit]
Description="Backup ledetour-vouchers-v2 database every 15min"

[Timer]
OnCalendar=*:0/15
Unit=ldt-vouchers-v2-backup.service

[Install]
WantedBy=multi-user.target
