[Unit]
Description=Run ledetour-vouchers v2

[Service]
Type=simple
User=www-data
WorkingDirectory=/srv/www/vouchers2.epicerieledetour.org

Environment="LDTVOUCHERS_DB_PATH=ldt-vouchers-v2.sqlite3"
Environment="LDTVOUCHERS_SERVE_STATIC_FILES=1"

ExecStart=/srv/www/vouchers2.epicerieledetour.org/venv/bin/python -m ldtvouchers server serve --host 0.0.0.0 --port 8000

[Install]
WantedBy=default.target
