[Unit]
Description="rclone sync B7 Google Drives"

[Service]
Type=oneshot
ExecStart=rclone                                      \
  --verbose                                           \
  --config "/usr/local/etc/rclone/rclone-b7.conf"     \
  sync                                                \
  /srv/rclone/B7                                      \
  AllDrives:

