[Unit]
Description="Call rsync-b7-nextcloud every hour"

[Timer]
OnCalendar=hourly
Unit=rsync-b7-nextcloud.service

[Install]
WantedBy=multi-user.target
