[Unit]
Description="Backup ledetour-vouchers database every 15min"

[Timer]
OnCalendar=*:0/15
Unit=ldt-vouchers-backup.service

[Install]
WantedBy=multi-user.target
