- name: Remove now obsolete /etc/apt/sources.list.d/buster-backports.list from Debian buster
  ansible.builtin.file:
    path: /etc/apt/sources.list.d/buster-backports.list
    state: absent
  when: ansible_distribution == "Debian" and ansible_distribution_release == "buster"
  tags:
    - wireguard

- name: Install wireguard
  apt:
    pkg:
      - wireguard
    update_cache: true
    state: present
  when: ansible_distribution == "Debian" and ansible_distribution_release != "buster"
  tags:
    - wireguard

- name: Create wireguard config folder on Debian buster
  ansible.builtin.file:
    path: /etc/wireguard
    state: directory
    mode: '0700'
  when: ansible_distribution == "Debian" and ansible_distribution_release == "buster"
  tags:
    - wireguard

- name: Instanciate wireguard config wg-ledetour.conf
  template:
    src: wg-ledetour-{{ wireguard_type }}.conf.j2
    dest: /etc/wireguard/wg-ledetour.conf
    mode: u=r,g=,o=
  notify:
    - reload wireguard
  tags:
    - wireguard

- name: Open wireguard port
  ufw:
    rule: allow
    proto: udp
    port: '"{{ wireguard_endpoint_port }}"'
  tags:
    - wireguard

- name: Start wireguard systemd service wg-quick@wg-ledetour.service
  systemd:
    name: wg-quick@wg-ledetour.service
    enabled: yes
    state: started
  when: ansible_distribution == "Debian" and ansible_distribution_release != "buster"
  tags:
    - wireguard
